.about-us{
    margin: 32px 16px;
    padding: 32px;
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 80vw;
    border: 1px solid #ccc;
    justify-content: space-evenly;
}

.about-us__sections{
  margin: 0px;
  width: 50%;
  background-color: #ccc;

}